# [submodule "week-1/solana-starter"]
# 	path = week-1/solana-starter
# 	url = https://github.com/pantha704/solana-starter.git
# [submodule "week-2/anchor-escrow"]
# 	path = week-2/anchor-escrow
# 	url = https://github.com/pantha704/anchor-escrow.git
# [submodule "week-2/anchor-vault"]
# 	path = week-2/anchor-vault
# 	url = https://github.com/pantha704/anchor-vault.git
# [submodule "week-3/anchor-amm-starter-q4-25"]
# 	path = week-3/anchor-amm-starter-q4-25
# 	url = https://github.com/pantha704/anchor-amm-starter-q4-25.git
# [submodule "week-3/anchor-mplxcore-starter-q4-25"]
# 	path = week-3/anchor-mplxcore-starter-q4-25
# 	url = https://github.com/pantha704/anchor-mplxcore-starter-q4-25.git
# [submodule "week-4/anchor-dice-game-starter-q4-25"]
# 	path = week-4/anchor-dice-game-starter-q4-25
# 	url = https://github.com/pantha704/anchor-dice-game-starter-q4-25.git
# [submodule "week-4/anchor-nft-staking-starter-q4-25"]
# 	path = week-4/anchor-nft-staking-starter-q4-25
# 	url = https://github.com/pantha704/anchor-nft-staking-starter-q4-25.git

[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/pantha704/solana-starter.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/pantha704/anchor-escrow.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/pantha704/anchor-vault.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/pantha704/anchor-amm.git
[submodule "anchor-mplxcore"]
	path = anchor-mplxcore
	url = https://github.com/pantha704/anchor-mplxcore.git
[submodule "anchor-dice-game"]
	path = anchor-dice-game
	url = https://github.com/pantha704/anchor-dice-game.git
[submodule "anchor-nft-staking"]
	path = anchor-nft-staking
	url = https://github.com/pantha704/anchor-nft-staking.git
[submodule "solverse"]
	path = solverse
	url = https://github.com/pantha704/solverse
[submodule "sol-starter-kit"]
	path = sol-starter-kit
	url = https://github.com/pantha704/sol-starter-kit
